.p1{
  font-style: italic;
  font-family: monospace;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Spirax', cursive; */
  /* font-family: 'Lobster', cursive; */
}

.p2{
font-family: 'Spirax', cursive;
}
